@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@800&display=swap');
* {
    /* Estilos para el cuerpo */

    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: aquamarine;
}

 /* Estilos para las lista de navegacion */

li, a {
    font-family: "Monserrat", sans-serif;
    font-family: 500;
    font-size: 20px;
    color: rgb(59, 58, 58);
    text-decoration: none;    
}

 /* Estilo para el header */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
 /* Estilo para la imagen del logo */
.Logo {
    cursor: pointer;
}

    /* Estilo para los links de navegacion */
.linksNavegacion {
    list-style: none;
}

 /* Estilos para el contenido en las listas */

.linksNavegacion li{
    display: inline-block;
    padding: 0px 20px;
}

    /* Estilos para las tablas */

table {
    font-size: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    background-color: rgb(170, 158, 194);;
    border: tomato;
    border-style: double;
}

    /* Estilos para las imagenes en las tablas */

table tr td img{
    width: 150px;
    height: 150px;
}
    /* Estilos para los textos en las tablas */
 
table tr td{
    padding: 30px;
    text-align: center;
    font-size: 15px;
}

    /*Estilos para los encabezados de la tabla de sabores */

.encabezadoPasteles {
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 10px;
}

    /* Estilos para los encabezados de las tabla de adornos */

.encabezadoAdornos {
    text-align: center;
    font-size: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

    /* Estilos para la seccion de las tablas */

.adornos {
    margin-left: 50px;
    margin-top: 25px;
}

.seccionGlobal {
    display: flex;
    justify-content: left;
    margin-top: 40px;
    background-color: rgb(170, 158, 194);
    align-items: center;
}

    /* Estilos para los articulos dentro de las secciones*/

article {
    padding: 30px;
    margin-right: 60px;
    justify-content: center;
    background-color: rgb(170, 158, 194);
}

.formulario {
    background-color: rgb(192, 168, 64);
    font-size: 45px;
    margin-top: 25px;
    padding: 30px;
    margin-left: 125px;
    margin-right: 60px;
}

input {
    box-sizing: border-box;
    font-size: 30px;
    border: tomato;
    border-style: dashed;
    padding-left: 30px;
    margin-bottom: 40px;
    margin-left: 150px;
}

.checck {
    padding: 0px;
    margin-left: 0px;
    
}


label {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(170, 158, 194);
    justify-content: center;
    margin-left: 150px;
}

.adornos {
    margin-left: 10px;
    font-size: 40px;
}

select{
    background-color: aliceblue;
    color: black;
    font-size: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 150px;
}

option{
    background-color: aliceblue;
}


/* Estilos del boton */

button {
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-style: double;
    background-color: rgb(190, 72, 72);
    color: black;
    text-align: center;
    margin-left: 320px;
}
